body {
  font-family: 'Arial', sans-serif;
  background-color: #fdf2d4; /* Color de fondo */
  margin: 0;
  padding: 20px;
}

.app {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

h1 {
  font-family: 'Georgia', serif; /* Tipografía del título */
  color: #333; /* Color del texto del título */
  font-size: 4em; /* Aumentar tamaño del título */
}

nav {
  margin-bottom: 20px;
}

.nav-button {
  display: inline-block;
  padding: 15px 30px; /* Tamaño del botón */
  margin: 18px; /* Espaciado entre botones */
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  text-decoration: none; /* Sin subrayado */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave */
  font-size: 1.2em; /* Aumentar tamaño del texto en botones */
}

.nav-button:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}

h2 {
  font-family: 'Arial', sans-serif; /* Tipografía para subtítulos */
  font-size: 2em; /* Aumentar tamaño del subtítulo */
}

ul {
  list-style-type: disc; /* Tipo de viñetas */
  padding-left: 20px; /* Espaciado a la izquierda para las viñetas */
}

li {
  font-size: 1.4em; /* Aumentar tamaño del texto en la lista */
  line-height: 1.6; /* Aumentar altura de línea para mejor legibilidad */
}